@model PagedList.IPagedList<AdminClient.Models.Article>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ListArticle";
}
<style>
    .page-item {
        padding: 5px;
        font-weight: 600;
        font-size: 18px;
        margin-left: 5px
    }
</style>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Tables</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List Article</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Article Table</h5>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    UrlSource
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    CreatedAt
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                string nameCate = "";
                            }
                            @foreach (var item in Model)
                            {
                                foreach (var category in ViewBag.categories)
                                {
                                    
                                    if (string.Equals(category.Id, item.CategoryId))
                                    {
                                        nameCate = category.Name;
                                    }
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UrlSource)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        <img src="@Html.DisplayFor(modelItem => item.Image)" style="object-fit:cover;" width="250px" height="200px" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @nameCate
                                    </td>
                                    @{
                                        var dateTime = new DateTime((long)item.CreatedAt);
                                    }
                                    <td>
                                        @dateTime
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="display:flex; justify-content: center">
                        @Html.PagedListPager(Model, page => Url.Action("ListArticle",
                         new { page }),
                         new PagedListRenderOptions
                         {
                             DisplayLinkToIndividualPages = true,
                             DisplayPageCountAndCurrentLocation = false,
                             MaximumPageNumbersToDisplay = 5,
                             LiElementClasses = new string[] { "page-item" }
                         })
                    </div>
                </div>


            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
    </div>